################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/cpp_code/.vs/cpp_code/v16
/cpp_code/x64/Debug
/cpp_code/cpp_code.sln
*.vcxproj
*.filters
*.user
